<div class="borderedit">
<h2>Editar Usuário</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
<div class="form-group">
    <%= f.label :first_name, "Nome", class: "control-label" %>
    <%= f.input :first_name, required: true, label: false, input_html: { class: "form-control", placeholder: "Nome" } %>
  </div>

  <div class="form-group">
      <%= f.label :last_name, "Sobrenome", class: "control-label" %>
      <%= f.input :last_name, required: true, label: false, input_html: { class: "form-control", placeholder: "Sobrenome" } %>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, "CEP", class: "control-label" %>
    <%= f.input :zip_code, required: true, label: false, input_html: { class: "form-control", placeholder: "12422-000" } %>
  </div>

  <div class="form-group">
    <%= f.label :street, "Endereço", class: "control-label" %>
    <%= f.input :street, required: true, label: false, input_html: { class: "form-control", placeholder: "Rua adamastor" } %>
  </div>

  <div class="form-group">
    <%= f.label :city, "Cidade", class: "control-label" %>
    <%= f.input :city, required: true, label: false, input_html: { class: "form-control", placeholder: "Pindamonhangaba" } %>
  </div>

  <div class="form-group">
    <%= f.label :state, "Estado", class: "control-label" %>
    <%= f.input :state, required: true, label: false, input_html: { class: "form-control", placeholder: "São Paulo" } %>
  </div>

    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: false,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
  <%= f.button :submit, "Update", class: "pet-btn-primary" %><br>

  <%= link_to "Excluir Conta",
              registration_path(resource_name),
              class: "pet-btn-excluir",
              data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir sua conta?" } %>
</div>
<% end %>
</div>
