<div class="badge-category">
  <div class="row align-items-center">
    <div class="col-auto">
      <span class="badge-category__emoji"><%= emoji %></span>
    </div>
    <div class="col">
      <h3 class="badge-category__title"><%= title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="badge-category__badges">
        <% options.each do |option| %>
          <input type="checkbox" id="<%= option.parameterize %>" name="<%= name %>[]" value="<%= option %>" class="badge-checkbox">
          <label for="<%= option.parameterize %>" class="pet-badge"><%= option %></label>
        <% end %>
      </div>
    </div>
  </div>
</div>
