<%= simple_form_for @pet, html: { class: "form-horizontal" } do |f| %>

 <div class="form-inputs">

    <div class="form-group">
      <%= f.label :name, "Nome", class: 'control-label' %>
      <%= f.input :name, label: false, required: true, input_html: { class: "form-control", placeholder: "Nome" } %>
    </div>

    <div class="form-group">
      <%= f.label :age, "Idade", class: 'control-label' %>
      <%= f.input :age, label: false, required: true,
            input_html: { class: "form-control", placeholder: "Idade", type: "number", min: 1, max: 25 } %>
    </div>

    <div class="form-group">
      <%= f.label :species, "Espécie", class: 'control-label' %>
      <%= f.input :species, collection: Pet::SPECIES_OPTIONS, label: false, required: true, prompt: "Selecione uma espécie", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
       <%= f.label :breed, "Tipo", class: 'control-label' %>
      <%= f.input :breed, collection: Pet::BREED_OPTIONS.values.flatten.uniq, label: false, prompt: "Selecione um tipo", required: true, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.label :age_group, "Faixa etária", class: 'control-label' %>
      <%= f.input :age_group, collection: Pet::AGE_GROUP_OPTIONS, label: false, prompt: "Selecione uma faixa etária", required: true, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.label :size, "Tamanho", class: 'control-label' %>
      <%= f.input :size, collection: Pet::SIZE_OPTIONS, label: false, prompt: "Selecione um tamanho", required: true, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
    <%= f.label :gender, "Gênero", class: 'control-label' %>
      <%= f.input :gender, collection: Pet::GENDER_OPTIONS, label: false, prompt: "Selecione um gênero", required: true, input_html: { class: "form-control" } %>
    </div>

</div>

  <div class="select-title">
    <h2 class="mt-4 mb-4">Personalidade e preferências</h2>
  </div>


<div class="form-inputs">
  <div class="form-group">
    <%= f.input :personality_traits,
              collection: Pet::PERSONALITY_TRAITS_OPTIONS,
              as: :check_boxes,
              label: "Personalidade (até 4)",
              label_html: { class: "control-label" },
              multiple: true,
              input_html: { class: "tag-selector", name: "pet[personality_traits][]", required: false },
              item_wrapper_class: "tag-item" %>
    </div>

    <div class="form-group">
      <%= f.label :temperament, "Temperamento", class: 'control-label' %>
      <%= f.input :temperament, collection: Pet::TEMPERAMENT_OPTIONS, label: false, prompt: "Selecione um temperamento", required: true, input_html: { class: "form-control" } %>
    </div>

  <div class="form-group">
    <%= f.label :looking_for, "O que você está procurando?", class: 'control-label' %>
    <%= f.input :looking_for, collection: Pet::LOOKING_FOR_OPTIONS, label: false, multiple: false, prompt: "Selecione uma opção",
                input_html: { name: "pet[looking_for][]" , class: "form-control" }, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :preferred_species, "Qual espécie você prefere?", class: 'control-label' %>
    <%= f.input :preferred_species, collection: Pet::PREFERRED_SPECIES_OPTIONS, label: false, multiple: false, prompt: "Selecione uma espécie",
                input_html: { name: "pet[preferred_species][]" , class: "form-control" }, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :preferred_size, "Qual tamanho você prefere?", class: 'control-label' %>
    <%= f.input :preferred_size, collection: Pet::SIZE_OPTIONS, label: false, multiple: false, prompt: "Selecione um tamanho",
                input_html: { name: "pet[preferred_size][]" , class: "form-control" }, required: false %>
  </div>
</div>

<div class="select-title">
  <h2 class="mt-4 mb-4">Saúde e reprodução</h2>
</div>

<div class="form-inputs">
  <div class="form-group">
    <%= f.label :is_vaccinated, "Vacinação em dia?", class: 'control-label' %>
    <div class="form-check">
      <%= f.radio_button :is_vaccinated, true, id: "vaccinated_true", class: "form-check-input" %>
      <%= f.label :is_vaccinated, "Sim", value: true, class: "form-check-label", for: "vaccinated_true" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :is_vaccinated, false, id: "vaccinated_false", class: "form-check-input" %>
      <%= f.label :is_vaccinated, "Não", value: false, class: "form-check-label", for: "vaccinated_false" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_neutered, "Castrado?", class: 'control-label' %>
    <div class="form-check">
      <%= f.radio_button :is_neutered, true, id: "neutered_true", class: "form-check-input" %>
      <%= f.label :is_neutered, "Sim", value: true, class: "form-check-label", for: "neutered_true" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :is_neutered, false, id: "neutered_false", class: "form-check-input" %>
      <%= f.label :is_neutered, "Não", value: false, class: "form-check-label", for: "neutered_false" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_available_for_breeding, "Disponível para Reprodução?", class: 'control-label' %>
    <div class="form-check">
      <%= f.radio_button :is_available_for_breeding, true, id: "breeding_true", class: "form-check-input" %>
      <%= f.label :is_available_for_breeding, "Sim", value: true, class: "form-check-label", for: "breeding_true" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :is_available_for_breeding, false, id: "breeding_false", class: "form-check-input" %>
      <%= f.label :is_available_for_breeding, "Não", value: false, class: "form-check-label", for: "breeding_false" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :registered_pedigree, "Pedigree Registrado?", class: 'control-label' %>
    <div class="form-check">
      <%= f.radio_button :registered_pedigree, true, id: "pedigree_true", class: "form-check-input" %>
      <%= f.label :registered_pedigree, "Sim", value: true, class: "form-check-label", for: "pedigree_true" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :registered_pedigree, false, id: "pedigree_false", class: "form-check-input" %>
      <%= f.label :registered_pedigree, "Não", value: false, class: "form-check-label", for: "pedigree_false" %>
    </div>
  </div>

  <div class="form-group">
    <%# <%= f.label :photos, "Fotos", class: 'control-label' %>
    <%= f.file_field :photos, multiple: true, class: "form-control" %>
  </div>
</div>

  <%= f.hidden_field :status, value: "Disponível" %>

  <%# <div class="m-5"></div>
  <hr>
  <div class="m-5"></div> %>

  <div class="$pet-btn-primary mt-5 mb-5">
    <%= f.submit "Criar um pet", class: "pet-btn-primary" %>
  </div>

<% end %>
