<% if potential_pet.present? %>
  <%= turbo_frame_tag "pet_card" do %>
    <div class="pet-card">
      <div class="pet-image-container">

        <% if potential_pet.photos.attached? %>
          <%= cl_image_tag potential_pet.photos.first.key,
                transformation: [{ width: 400, height: 500, crop: "fill" }],
                alt: "#{potential_pet.name}'s profile picture",
                class: "pet-image" %>
        <% else %>
          <%= image_tag "pet_placeholder.webp",
                alt: "Default pet profile picture",
                class: "pet-image" %>
        <% end %>

        <div class="pet-info">
          <h3><%= potential_pet.name %>, <%= potential_pet.age %> anos </h3>
      </div>
    </div>

        <div class="swipe-buttons">
          <%= simple_form_for current_pet, url: process_swipe_pet_path(current_pet) do  |f| %>
            <%= f.hidden_field  :liked_pet_id, value: potential_pet.id %>
            <%= f.hidden_field  :swipe_action, value: "left" %>
            <button type="submit" class="btn-swipe btn-no">
                <%= image_tag "btn-no.svg", alt: "Rejeitar", class: "swipe-icon" %>
            </button>
          <% end %>

          <%= simple_form_for current_pet, url: process_swipe_pet_path(current_pet) do  |f| %>
            <%= f.hidden_field  :liked_pet_id, value: potential_pet.id %>
            <%= f.hidden_field  :swipe_action, value: "right" %>
                <button type="submit" class="btn-swipe btn-yes">
                  <%= image_tag "btn-yes.svg", alt: "Aceitar", class: "swipe-icon" %>
                </button>
          <% end %>
        </div>
      </div>

  <% end %>
<% else %>
  <p class="text-center">No more pets available for swiping!</p>
<% end %>
