  <h2 class="mb-3">Pets</h2>

  <div class="list-group">
    <% @pets.each do |pet| %>

      <a href="<%= pet_path(pet) %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span>
          <% if pet.photos.attached? %>
            <%= cl_image_tag pet.photos.first.key, transformation: [{ width: 300, height: 300, crop: "fill" }], alt: "#{pet.name}'s profile picture", class: "avatar-bordered" %>
          <% else %>
            <%= image_tag "pet_placeholder.webp", alt: "Default pet profile picture", class: "avatar-bordered" %>
          <% end %>
        </span>
        <span><strong><%= pet.name %></strong> </span>
        <span><%= pet.species.capitalize %></span>

        <span class="badge bg-primary">View</span>
      </a>
    <% end %>
  </div>
</div>

<div class="pet-footer-btn fixed-bottom-layout">
  <%= link_to "New Pet", new_pet_path, class: "pet-btn-accent" %>
</div>
