<div class="select-container">

  <div class="edit-user">
      <%= link_to edit_user_registration_path do %>
        <i class="fa-solid fa-user-pen edit-btn"></i>
      <% end %>
  </div>


  <h2 class="select-title">Selecione um pet</h2>

  <p class="mx-5 my-1">Você deve <strong>selecionar</strong> um pet<br>antes de continuar.</p>

<div class="row mx-3 my-4">
  <% @pets.each do |pet| %>
    <div class="col-6">
      <div class="select-pet-card mt-2 mb-2 animate__animated animate__pulse">

        <% if pet.photos.attached? %>
          <%= cl_image_tag pet.photos.first.key, transformation: [{ crop: "fill" }], class: "select-pet-image" %>
        <% end %>

        <h3><%= pet.name %></h3>
        <p><%= pet.age_group.capitalize %></p>

        <%= form_with url: set_selected_pet_path, method: :post, data: { turbo: false }, class: "select-form" do %>
          <%= hidden_field_tag :pet_id, pet.id %>
          <%= hidden_field_tag :redirect_to, @redirect_path %>
          <button type="submit" class="select-btn">Selecionar</button>
        <% end %>
      </div>
    </div>
  <% end %>


<div class="col-6">
  <div class="select-pet-card-plus mt-2 mb-2 animate__animated animate__pulse">
    <p>Adicione um pet</p>
    <%= link_to new_pet_path(redirect_to: @redirect_path) do %>
      <%= image_tag 'add-button.svg', alt: "Add pet button" %>
    <% end %>
  </div>
</div>
</div>

</div>

<%#   <h2 class="select-title animate__animated animate__fadeInDown">Selecione um pet</h2>
 %>

<%#  <p class="mx-5 my-1 animate__animated animate__fadeIn">
  Você deve <strong>selecionar</strong> um pet antes de continuar.</p>
 %>
