<div class="header">
<h2>Esqueceu Sua Senha?</h2><br>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">

  <div class="form-group">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Redefinir Senha", class: "pet-btn-primary" %>
    <div class="form-group"><br>
    <p>lembrou sua senha? <%= link_to "Entrar", new_session_path(resource_name) %></p>
    </div>
  </div>
  <% end %>
  </div>
