<!DOCTYPE html>
<html>
  <head>
    <title>MatchPet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap", media: "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet" %>
    <%= favicon_link_tag 'logo.svg' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", rel: "stylesheet", media: "all" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-current-user-id="<%= current_user ? current_user.id : '' %>">
    <%= render "shared/flashes" %>
    <% if current_page?(pets_path) || current_page?(nearby_locations_path) || request.path.include?("swipe") || (request.path.include?("match") && !request.path.include?("messages"))%>
      <% if @current_pet %>
        <%= render "shared/header_nav" %>
      <% end %>
    <% end %>

    <% if current_page?(pets_path) || current_page?(nearby_locations_path) || request.path.include?("swipe") || (request.path.include?("match") && !request.path.include?("messages")) %>
      <main class="main-content">
        <%= yield %>
      </main>
    <% else %>
      <%= yield %>
    <% end %>

    <% if (request.path.include?("match") && !request.path.include?("messages")) || request.path.include?("swipe") || current_page?(select_pet_path) %>

      <% if @current_pet %>
        <%= render "shared/footer_nav" %>
      <% end %>
    <% end %>
  </body>
</html>
